<div class="product-grid grid">
    <div class="product-image">
      <a *ngIf="product" [routerLink]="['/layout/product-details', product?.productId]">
        <img class="pic-1" [src]="'/assets/product_images/' + product?.image">
      </a>
      <a *ngIf="!product">
        <img class="pic-1" [src]="'/assets/product_images/' + product?.image">
      </a>
      <ul class="social">
        <li><a *ngIf="product" [routerLink]="['/layout/product-details', product?.productId]" data-tip="Quick View"><i class="fa fa-eye"></i></a>
          <a *ngIf="!product" data-tip="Quick View"><i class="fa fa-eye"></i></a>
        </li>
      </ul>
      <!-- <span class="product-new-label">New</span>
              <span class="product-discount-label">-10%</span> -->
    </div>
    <div class="product-content">
      
      <h3 class="title">
        <a *ngIf="product" [routerLink]="['/layout/product-details', product?.productId]">
        <!-- <a [routerLink]="['/product-details/:product.productId']" > -->
            <strong>
            {{product?.productName}}
          </strong>
        </a>
        <a *ngIf="!product">
          <!-- <a [routerLink]="['/product-details/:product.productId']" > -->
              <strong>
              {{product?.productName}}
            </strong>
          </a>
      </h3>
      <div class="price">
        {{product?.price}}
      </div>
  
      <div class="row">
        
        
      </div>
      <button class="add-to-cart" (click)="onAddToCart()">ADD TO CART</button>
      <!-- <app-header [productId]="product.productId">
      </app-header> -->
    </div>
  </div>