
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container">
  
      <!-- Brand -->
      <!-- <a class="navbar-brand waves-effect" [routerLink]="['/']">
        <img src="../../../../assets/tshirtshop.png" height="30" alt="">
      </a> -->
  
      <!-- Collapse -->
      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
  
      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Hi!
          <a class="nav-link waves-light  pink-text p-0" href="#">Sign In</a>
          or
          <a class="nav-link waves-light  pink-text p-0" href="#">Register</a> -->
        <!-- Left -->
        <ul class="navbar-nav mr-auto">
          <!-- <li class="nav-item">
            <a class="nav-link waves-effect" href="#"><strong>Hi</strong>
              <span class="sr-only">(current)</span>
            </a>
          </li>-->
          <!-- <ng-container *ngIf="isLogged; else elseTemplate">  -->
            <!-- <li class="nav-item" mdbDropdown>
              <a class="nav-link waves-effect" [routerLink]="['/customer/my-account']">
                <i class="fas fa-user mr-1 pink-text"></i>
                <strong class="pink-text">{{user.FullName}}</strong>
              </a>
            </li> -->
            <li class="nav-item" mdbDropdown >
              <a class="nav-link waves-effect" (click)="onLogout()">
                <i class="fas fa-sign-in-alt mr-1 pink-text"></i>
                <strong class="pink-text">Logout</strong>
              </a>
            </li>
          <!-- </ng-container> -->
          <!--<ng-template #elseTemplate>
             <li class="nav-item" mdbDropdown>
              <a class="nav-link waves-effect" [routerLink]="['/customer/login']">
                <strong class="pink-text">Sign In</strong>
              </a>
            </li> -->
            <!-- <li class="nav-item">
              <a class="nav-link waves-effect" >
                <strong>or</strong>
              </a>
            </li> -->
            <!-- <li class="nav-item">
              <a class="nav-link waves-effect" [routerLink]="['/customer/register']" target="_blank">
                <strong class="pink-text">Register</strong>
              </a>
            </li> 
          </ng-template>
  -->
  
        </ul>
  
        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons" class="pull-right">
          <li class="nav-item" mdbDropdown>
            <a class="nav-link waves-effect dropdown-toggle" mdbDropdownToggle
               (click)="cartclick()">
               <!-- <i class='fas fa-ad' style='font-size:24px;color:red'></i> -->
              <span class="badge badge-danger"> {{itemCount}} </span>
              <i class="glyphicon glyphicon-shopping-cart"></i>
              <span class="clearfix d-none d-sm-inline-block"> Cart </span>
            </a>
            <!-- <app-small-cart class="dropdown-menu dropdown-cart mr-5 pb-0" *ngIf="itemCount != 0"></app-small-cart> -->
        </ul>
      </div>
  
    </div>
  </nav>

  <!-- <router-outlet></router-outlet> -->